<!DOCTYPE html>
<html>

    <head>

        <title>YOUR NAME's Blog {{ SiteTitle }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

        <link rel='stylesheet' type='text/css' href='{{ stylesheet }}' >

    </head>

    <body>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=[YOUR_APP_ID]&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <nav class='navbar navbar-default navbar-fixed-top' >
            <div class='container'>
                <div class='navbar-brand'>
                    <a href='/' class='brand-title'>YOUR NAME's Blog</a>
                </div>
            </div>
        </nav>

        {{{ body }}}

    </body>
</html>
