<div class='jumbotron'>
    <div class='container'>
        <div id='intro_text'>
            INTRO TEXT HERE
        </div>
    </div>
</div>

<div id='main'>
    {{{ markup }}}
</div>
<div class='footer'>
</div>

<!-- Js scripts -->
<script>
var blogData = {{{ data }}};
var l = {{{ l }}}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src='/js/bundle.js'></script>
